body {
    margin: 0;
    background-color: #F5EBEB;
}

.icon {
    width: 20px;
    height: 23px;
}

.icon1 {
    width: 168px;
    height: 168px;
}

.color {
    background-color: #FFF5F5;
}

.item {
    width: 100%;
    border-radius: 20px;
}

th {
    padding: 20px;
}

td {
    padding: 20px;
}