body {
    margin: 0;
    background-color: #F5EBEB;
    font-family: 'Noto Sans TC' !important;
    color: #262626 !important;
}

.icon {
    width: 20px;
    height: 25px;
}

.icon1 {
    width: 100px;
    height: 100px;
}

.color {
    background-color: #FFF5F5;
}

.item {
    width: 100%;
    border-radius: 20px;
}

th {
    padding: 20px;
}

td {
    padding: 20px;
}