body {
    margin: 0;
    background-color: #F5EBEB;
    font-family: 'Noto Sans TC' !important;
    color: #262626 !important;
}

.title {
    padding-top: 50px;
    padding-left: 40px;
}

.icon1 {
    width: 70px;
}

.pmp p{
    margin-bottom: 0px;
    margin-top: 5px;
}



@media screen and (max-width: 992px) {
    h3{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .rwdcenter{
        text-align: center;
    }
    .rwdline{
        display: block;
    }
}