body {
    font-family: 'Noto Sans TC' !important;
    color: #262626 !important;
}

.nav-link {
    color: #262626 !important;
}

.dropdown-menu a:active {
    background-color: white !important;
    }
.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
  }
@media screen and (min-width: 992px) {
    .nav-link:hover {
        color: #D5B4B4 !important;
    
        &:after {
            content: '';
            width: 90%;
            height: 1px;
            display: block;
            margin: 0 auto;
            border-bottom: 1px solid #D5B4B4;
        }
    }
}


.nav-icon-md-1 img{
    width: 30px;
    height: 30px;
}

.nav-icon-md{
    display: none;
}


@media screen and (max-width: 992px) {
    .navicon {
        display: none;
    }

    .nav2 {
        display: none;
    }
    .nav-icon-md {
        display: inline-block;
    }
}

.dropdown-item {
    color:#262626 !important;
}

.navicon {
    width: 15% !important;
    height: 15% !important;
    margin: 0 15px;
}

.nav2 {
    width: 305px;
    height: 100px;
    position: absolute;
    right: 100px;
}

.contact {
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    margin: 45px 0;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    width: 100%;
}

.contact-text {
    text-align: center;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 300;
    margin: 50px 0;
}

.contact-media {
    text-align: center;
}

.contact-media img {
    width: 40px;
    height: 40px;
}

.divider {
    color:#262626;
    opacity: 1;
}

.footer-text {
    line-height: 28px;
}

.footer-text a {
    text-decoration: none;
    color: #262626;
}

.footer-block {
    margin: 0 100px;
}